@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #212225;
  background-image: url("./images/starry-background.jpg");
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
}
.container {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
h1 {
  color: #ef62a9;
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
  font-family: "Pacifico", cursive;
  letter-spacing: 0.3rem;
}
